*{
    margin: 0;
}
#container{
	display: flex;
	height: 100vh;
	margin: 0;
}

#heading{
    font-family: 'Courier New', Courier, monospace;
	border: 5px dotted black;
	text-align: center;
	margin: auto;
	padding: 10px;
	justify-content: center;
	align-items: center;
	background-color: white;
}
#heading:hover{
	background-color: black;
	color: white;
	border-color: white;
}

#colorbox{
	margin: auto;
	height: 100px;
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 3px double rgb(0, 0, 0);
}